{%- if content_for_header contains 'debutify' and settings.dbtfy_cart_countdown -%}
  {%- liquid
    assign minutes_value = settings.dbtfy_cart_countdown_time_mins
    assign icon = settings.dbtfy_cart_countdown_icons
    assign icon_over = settings.dbtfy_cart_countdown_icon_over
    assign prefix_text = 'add-ons.cart_countdown.prefix_text' | t
    assign suffix_text = 'add-ons.cart_countdown.suffix_text' | t
    assign time_over_message = 'add-ons.cart_countdown.time_over_message' | t
    assign minutes_label = 'add-ons.cart_countdown.minutes_label' | t
    assign seconds_label = 'add-ons.cart_countdown.seconds_label' | t
  -%}

  <div class="dbtfy dbtfy-cart_countdown{% if position == 'cart_page' %} small--sticky sticky-check-header{% endif %}{% if position == 'cart_drawer' %} sticky{% endif %}"
    style="display: none;"
    data-minutes="{{ minutes_value }}"
    data-cart-count="{{ cart.item_count }}"
    data-string-minute="{{ minutes_label }}"
    data-string-second="{{ seconds_label }}">

    <div id="CartCountdown" class="CartCountdown text-center card{% if position == 'cart_page' %} spacer-bottom{% endif %}{% if position == 'cart_drawer' %} card-full{% endif %}">
      <div class="card-body card-body-xs">
        <div class="dbtfy-cart_countdown_default_msg">
          {%- unless icon == blank -%}
            <span class="dbtfy-cart_countdown_icon icon-width {{ settings.icon }}">
              {{ icon }}
            </span>
          {%- endunless -%}

          {%- unless prefix_text == blank -%}
            <span class="text-cart_countdown prefix-cart_countdown text-ellipsis">
              {{ prefix_text }}
            </span>
          {%- endunless -%}

          <strong class="timer-cart_countdown text-secondary">
            <span class="minutes-cart_countdown"></span>
            <span class="seconds-cart_countdown"></span>
          </strong>

          {%- unless suffix_text == blank -%}
            <span class="text-cart_countdown suffix-cart_countdown text-ellipsis">
              {{ suffix_text }}
            </span>
          {%- endunless -%}
        </div>

        <div class="dbtfy-cart_countdown_msg_t_over hide">
          {%- unless icon_over == blank -%}
            <span class="dbtfy-cart_countdown_icon icon-width {{ settings.icon }}">
              {{ icon_over }}
            </span>
          {%- endunless -%}

          <span class="text-cart_countdown text-cart-is-over_countdown">
            {{ time_over_message }}
          </span>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
