{%- if content_for_header contains 'debutify' and settings.dbtfy_live_view -%}
  {%- liquid
    assign position = settings.dbtfy_live_view_position
    assign icons = settings.dbtfy_live_view_icons
    assign min_views = settings.dbtfy_live_view_min
    assign prefix_text = 'add-ons.live_view.prefix_text' | t
    assign suffix_text = 'add-ons.live_view.suffix_text' | t
    assign visitors_text = 'add-ons.live_view.visitors_text' | t
  -%}

  <div class="dbtfy dbtfy-live_view" data-position="{{ position }}">
    <div id="LiveView">
      <div class="container-live_view">
        {%- unless icons == blank -%}
          <span class="{{ settings.icon }} icon-width">{{ icons }}</span>
        {%- endunless -%}

        {%- unless prefix_text == blank -%}
          <span> {{ prefix_text }}</span>
        {% endunless %}

        <strong class="number-live_view"> {{ min_views }}</strong>

        {% unless visitors_text == blank %}
          <strong> {{ visitors_text }}</strong>
        {% endunless %}

        {%- unless suffix_text == blank -%}
          <span class="text-live_view"> {{ suffix_text }}</span>
        {%- endunless -%}
      </div>
    </div>
  </div>
{%- endif -%}
