<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no" name="viewport">
    <meta name="theme-color" content="{{ settings.color_body_bg }}">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="Debutify" name="author">

    <!-- Preconnect external resources -->
    <link crossorigin href="https://cdn.shopify.com" rel="preconnect">
    <link crossorigin href="https://fonts.shopifycdn.com" rel="preconnect">
    <link crossorigin href="https://shop.app" rel="preconnect">
    <link href="https://monorail-edge.shopifysvc.com" rel="preconnect">

    {%- if content_for_layout contains "product-template" -%}
      <link href="https://godog.shopifycloud.com" rel="preconnect">

      {%- if settings.enable_payment_button -%}
        <link crossorigin href="https://pay.google.com" rel="preconnect">
        <link crossorigin href="https://play.google.com" rel="preconnect">
      {%- endif -%}
    {%- endif -%}

    {%- if content_for_layout contains "featured-video" -%}
      <link href="https://www.youtube.com" rel="preconnect">
    {%- endif -%}

    {%- if content_for_layout contains "map" -%}
      <link href="https://maps.googleapis.com" rel="preconnect">
    {%- endif -%}

    {%- if request.page_type == "contact" or request.page_type == "product" or request.page_type == "captcha" -%}
      <link href="https://www.google.com" rel="preconnect">
      <link href="https://www.gstatic.com" rel="preconnect">
      <link crossorigin href="https://www.gstatic.com" rel="preconnect">
      <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
      <link crossorigin href="https://www.recaptcha.net" rel="preconnect">
    {%- endif -%}

    {%- if content_for_header contains "debutify" -%}
      <link href="https://debutify.com" rel="preconnect">

      {%- if settings.dbtfy_automatic_geolocation -%}
        <link crossorigin href="https://api.teathemes.net" rel="preconnect">
      {%- endif -%}

      {%- if settings.dbtfy_instagram_feed -%}
        <link crossorigin href="https://graph.instagram.com/" rel="preconnect">
      {%- endif -%}

      {%- if settings.dbtfy_facebook_messenger -%}
        <link crossorigin href="https://www.facebook.com/" rel="preconnect">
        <link href="https://www.facebook.com/" rel="preconnect">
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      assign accent_family = settings.accent_family
      assign base_family = settings.base_family
      assign header_family = settings.header_family
      assign base_family_bold = base_family | font_modify: "weight", "bolder"
      assign base_family_italic = base_family | font_modify: "style", "italic"
      assign base_family_bold_italic = base_family_bold | font_modify: "style", "italic"
      assign accent_family_bold = accent_family | font_modify: "weight", "bolder"
      assign icon_split = settings.icon | split: "-"
      capture icon_family
        for icon in icon_split
          unless forloop.last == true
            echo icon | capitalize | append: " "
          else
            echo icon | capitalize
          endunless
        endfor
      endcapture
    -%}

    <!-- Preload assets -->
    <link rel="preload" href="{{ "theme.scss.css" | asset_url }}" as="style">
    <link rel="preload" as="font" href="{{ header_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ accent_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ base_family | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ settings.icon | append: ".woff2" | asset_url }}" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "theme.min.js" | asset_url }}" as="script">
    <link rel="preload" href="{{ "lazysizes.min.js" | asset_url }}" as="script">
    {{ 'jquery-2.1.1.js' | asset_url | script_tag }}
    {{ 'jquery.mobile.custom.min.js' | asset_url | script_tag }}

    {%- if content_for_header contains "debutify" -%}
      <link rel="preload" href="{{ "dbtfy-addons.min.js" | asset_url }}" as="script">
    {%- endif -%}

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    <!-- Fav icon -->
    {%- assign favicon_url = settings.favicon | img_url: "192x192" -%}

    {%- if settings.favicon == blank -%}
      {%- assign favicon_url = "data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" -%}
    {%- endif -%}

    <link sizes="192x192" rel="shortcut icon" type="image/png" id="favicon" href="{{ favicon_url }}">

    <!-- Title and description -->
    <title>
      {{ page_title }}
      {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ", " -%}
        &ndash;
        {{ "general.meta.tags" | t: tags: meta_tags }}
      {% endif %}
      {% if current_page != 1 %}
        &ndash;
        {{ "general.meta.page" | t: page: current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- Social meta -->
    {%- render "social-meta-tags" -%}

    <!-- CSS  -->
    {{ "theme.scss.css" | asset_url | stylesheet_tag }}

    {%- if settings.dbtfy_delivery_date -%}
      {{ "flatpickr.min.css" | asset_url | stylesheet_tag }}
    {%- endif -%}

    <!-- Load fonts independently to prevent rendering blocks -->
    <style>
      {{ header_family | font_face: font_display: "swap" }}
      {{ accent_family | font_face: font_display: "swap" }}
      {{ base_family | font_face: font_display: "swap" }}
      {{ base_family_bold | font_face: font_display: "swap" }}
      {{ base_family_italic | font_face: font_display: "swap" }}
      {{ base_family_bold_italic | font_face: font_display: "swap" }}
      {{ accent_family_bold | font_face: font_display: "swap" }}
      @font-face {
        font-family: {{ icon_family }};
        font-weight: 400;
        font-style: normal;
        font-display: block;
        src: url({{ settings.icon | append: ".woff2" | asset_url }}) format("woff2");
      }
    </style>

    <!-- Google Tag Manager -->
    {%- if settings.google_tag_manager_id != blank -%}
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer',{{ settings.google_tag_manager_id | json }});
      </script>
    {%- endif -%}

    <!-- Theme strings and settings -->
    {%- render "translations-js" -%}

    <!-- JS -->

    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

    {%- if content_for_header contains "debutify" -%}
      {%- if settings.show_currency_selector -%}
        {%- if settings.dbtfy_custom_currencies or shop.enabled_currencies.size > 1 and settings.dbtfy_cart_goal -%}
          <script data-no-instant src="/services/javascripts/currencies.js" type="text/javascript"></script>
          <script src="{{ 'jquery.currencies.min.js' | asset_url }}" defer="defer"></script>
        {%- endif -%}
      {%- endif -%}

      <script src="{{ 'dbtfy-addons.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if request.page_type contains "customers/" -%}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {%- endif -%}

    <!-- Header hook for plugins -->
    {{ content_for_header }}

    {% render 'review-head' %}

    {{ shop.metafields.loox["global_html_head"] }}

  </head>

  <body id="{{ page_title | handle }}" class="{% if settings.sticky_header %}sticky-header{% endif %} {% if settings.sticky_announcement_bar %}sticky-announcement_bar{% endif %} {% if settings.hero_header_desktop %}transparent-header--desktop{% endif %} {% if settings.hero_header_mobile %}transparent-header--mobile{% else %}transparent-header--no-mobile{% endif %} {% if settings.dbtfy_menu_bar %}menu_bar--present{% endif %} {% if customer %}customer-logged-in{% endif %} template-{{ request.page_type | handle }}">

    <!-- Google Tag Manager (noscript) -->
    {%- if settings.google_tag_manager_id != blank -%}
      <noscript>
        <iframe height="0" src="https://www.googletagmanager.com/ns.html?id={{ settings.google_tag_manager_id }}" style="display:none;visibility:hidden" width="0"></iframe>
      </noscript>
    {%- endif -%}

    {%- liquid
      render 'hero-header'
      render "toasts"

      if settings.cart_type == "drawer"
        render "drawer-cart"
      elsif settings.cart_type == "modal"
        render "cart-modal"
      endif

      render "drawer-search"
      render "dbtfy-age-check"
      render "dbtfy-cookie-box"
      render "dbtfy-facebook-messenger"
      render "dbtfy-newsletter-popup"
      render "dbtfy-page-transition"
      render "dbtfy-quick-view", type: "container"
      render "dbtfy-social-discount"
      render "cart-message-toast"
      render "dbtfy-cart-reminder"

      section "dbtfy-bullet-points"
      section "dbtfy-cart-goal"
      section "dbtfy-cart-upsell"
      if request.page_type == "collection"
        section "dbtfy-collection-filters"
      endif
      section "dbtfy-color-swatches"
      section "dbtfy-customizable-products"
      section "dbtfy-delivery-time"
      section "dbtfy-product-tabs"
      section "dbtfy-product-swatches"
      section "dbtfy-quantity-breaks"
      section "dbtfy-sales-countdown"
      section "dbtfy-size-chart"
      section "dbtfy-upsell-popup"
      section "drawer-menu"

    -%}

    <div class="page-container" id="PageContainer">
      <a class="visually-hidden event-focus-box" href="#mainContent">{{ "shopify.checkout.general.skip_to_content" | t }}</a>


      {%- liquid
        section "announcement"
						 if template == 'index'
		 section "header"
		 else
		 section 'header-secondary'
		 endif
        render "dbtfy-menu-bar"
        render "dbtfy-quick-compare", type: "page"
        render "dbtfy-quick-compare", type: "markup"


      -%}

      <main class="main-content fadeIn" id="mainContent" role="main">
        {%- if request.page_type == "captcha" or request.page_type == "policy" -%}
          <div class="box">
            <div class="wrapper">
              <div class="grid">
                <div class="grid__item large--eight-twelfths push--large--two-twelfths">
                {%- endif -%}

                {%- if template == 'index' -%}
                  <div class="index-sections">
                  {%- endif -%}

                  {{ content_for_layout }}

                  {%- if template == 'index' -%}
                  </div>
                {%- endif -%}

                {%- if request.page_type == "captcha" or request.page_type == "policy" -%}
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </main>

      {%- liquid
        render "dbtfy-recently-viewed"
        section "dbtfy-instagram-feed"
        section "guarantee"
        section "footer"
      -%}

      {%- if settings.show_top_button -%}
        <button class="btn-top scroll-top btn btn--square btn-top-{{ settings.top_button_position }} {% if settings.top_button_mobile %}small--hide{% endif %}" type="button">
          <span class="{{ settings.icon }} icon-width" aria-hidden="true">keyboard_arrow_up</span>
        </button>
      {%- endif -%}
      <script>
			const element = document.querySelector('pplr-wrapper');
			element.classList.add('grid__item');
			console.log(element.className);

			</script>

      {{ 'main.js' | asset_url | script_tag }}

    </div>

    {{ shop.metafields.loox["global_html_body"] }}

    <script>
    !function(t,e,n){function s(){
      var t=e.getElementsByTagName("script")[0],n=e.createElement("script");
      n.type="text/javascript",n.async=!0,n.src="https://assistant.thrivedesk.io/bootloader.js?"+Date.now(),
      t.parentNode.insertBefore(n,t)}if(t.Assistant=n=function(e,n,s){t.Assistant.readyQueue.push({method:e,options:n,data:s})},
      n.readyQueue=[],"complete"===e.readyState)return s();
    t.attachEvent?t.attachEvent("onload",s):t.addEventListener("load",s,!1)}
    (window,document,window.Assistant||function(){}),window.Assistant("init","9623bd24-3a75-4300-a0e1-1af72ae02973");
  </script>

  </body>
</html>