{% if collection.url == '/collections/alle-produkte' %}
  {% if section.settings.image !=blank or section.settings.title !=blank or section.settings.text !=blank %}
    <section class="collection-left-image-text">
      <div class="wrapper">
        <div class="grid align-items-center">
          <div class="grid__item">
            <div class="left_img">
              {% if section.settings.image != blank %}
                <img src="{{ section.settings.image | img_url:'master' }}" alt="{{ section.settings.image.alt }}">
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
          </div>
          <div class="grid__item">
            <div class="txt">
              {% if section.settings.title != blank %}
                <h2 class="h3s">{{ section.settings.title }}</h2>
              {% endif %}
              {% if section.settings.text != blank %}
                {{ section.settings.text }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% else %}
  <section class="bg-other-collection">
    <div class="others-collection-left-image">
      <div class="wrapper">
        <img class="down-line-right" src="{{ 'collection-vector.svg' | asset_url }}" alt="Original Image">

        <div class="grid">
          <div class="grid__item medium--twelf-twelfts large--twelf-twelfths">
            <div class="bg-white-colection  p-5">
              <div class="grid align-items-center">
                <div class="grid__item medium--six-twelfts large--eight-twelfths">
                  <div class="left_img flex align-items-center">
                    <div class="img">
                      {% if collection.metafields.my_fields.image_video %}
                        <img src="{{ collection.metafields.my_fields.image_video | img_url: 'large' }}" alt="{{ collection.metafields.my_fields.image_video_alt_tag }}">
                      {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                    </div>
                    <div class="video_box">
                      <div class="play_icon">Play</div>
                      <video id="collection_video" poster="https://cdn.shopify.com/s/files/1/0570/3876/6133/files/Polygon.png?v=1648471675">
                        <source src="{{ collection.metafields.my_fields.video }}" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                    </div>
                  </div>
                </div>
                <div class="grid__item medium--six-twelfts large--four-twelfths">
                  <div class="text_right">
                    {% if collection.metafields.my_fields.right_text != blank %}
                      {{ collection.metafields.my_fields.right_text }}
                    {% else %}
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris velit esse
                      									cillum dolore eu fugiat nulla pariatur.
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<script>
	var vid = document.getElementById("collection_video");
	$('.play_icon').on('click', function () {
		$(this).hide();
		vid.play();
		vid.setAttribute("controls", "controls");
	});
	vid.addEventListener('click', function () {
		if (vid.paused == false) {
			vid.load();
			vid.removeAttribute("controls");
			$('.play_icon').show();
		} else {
		}
	});
</script>

{% schema %}

{
  "name": "Image with text two",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }, {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Some Title Here"
    }, {
      "type": "richtext",
      "label": "Text",
      "id": "text"
    }
  ],
  "presets": [
    {
      "name": "Image with text two",
      "category": "Advanced Layout"
    }
  ]
}

{% endschema %}

{% style %}

.bg-other-collection {
  background-color: #F5F5F5;
  padding-top: 2rem;

}

.bg-white-colection {
  background-color: #fff;
}

.p-5 {
  padding: 3rem;
}

.collection-left-image-text {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #F5F5F5;
}


.others_collection {
  background-color: #fff;
  padding: 5rem 0;
  border-top: 1px solid #e9e9e9;
}

.others_collection .left_img {
  height: 307px;
  overflow: hidden;
  margin-right: -50px;
  position: relative;
}

.others_collection .right_img {
  height: 384px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .others_collection .right_imag {
    height: 256px;
  }
}

.others_collection h3 {
  letter-spacing: 0.1em;
}

.left_img .img {
  flex: 0 0 auto;
  width: 70%;
}

.left_img .video_box {
  flex: 0 0 auto;
  width: 50%;
  margin-left: -25%;
  position: relative;
}

.left_img .video_box video {
  width: 100%;
  height: 308px;
}

.video_box .play_icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 99;
  cursor: pointer;
  width: 89px;
  height: 89px;
  line-height: 89px;
  text-align: center;
  border: 2px solid #fafafa;
  border-radius: 50%;
  font-size: 0;
}

.video_box .play_icon:after {
  content: "";
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 20px solid #fff;
}

.collection-controls {
  margin-bottom: 32px !important;
}

.others-collection-left-image .text_right {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #242424
}

.down-line-right {
  position: absolute;
  right: 30%;
  z-index: 2;
  transform: translateY(-80px);
}

@media only screen and (max-width: 758px) {
  .collection-left-image-text {
    background-color: transparent;
  }

  .p-5 {
    padding: 0;
  }

  .bg-other-collection {
    background-color: transparent;
  }

  .others-collection-left-image .text_right {
    padding-top: 0;
  }

  .left_img .img {
    width: 100%;
  }

  .left_img .video_box {
    width: 100%;
    flex: 0 0 auto;
    max-width: 85%;
    margin-left: -93%;
    position: relative;
    margin-top: 60%;
  }

  .down-line-right {
    display: none;
  }
}

{% endstyle %}